<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="m6400Debugging: $data">
                {{ _("Debugging") }}
            </label>
            <span class="help-block">
                {{ _("Write detailed M6400Download diagnostics to the browser console.") }}
            </span>
        </div>
    </div>
</form>
